#div1

{
    width:100%;
    height:120px;
    background-color:blueviolet;
    display: flex;
    
}

.d

{
    width:100px;
    height:100px;
    background-color:violet;
    margin:10px;
    color:white;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-top:23px;
    
}

@media screen and (max-width:753px)
{
    #div1
    {
        flex-direction: column;
        height:1000px;
        
    }

    .d
    
}
